body{
    background-color:rgb(216, 67, 232);
    text-align: center;
    /* margin-top: 100px; */
}
.in{
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
font-size: 20px;
}
.gamename{
    font-size:50px;
}
.parahead{
    font-size:40px;
}
.sbut{
    padding:15px 30px 15px 30px;
    border:none;
    font-size: 30px;
    background-image:linear-gradient(90deg,rgb(77, 190, 228),rgb(85, 225, 92));
}
.scoreboard{
    position: absolute;
    right: 6%;
    top:20px;
    border:10px solid white;
    width: 150px;
    height: 150px;
    background-color: black;
}
.scorehead,.scoretime{
    color: white;
}
.scorepara{
    color: red;
}
